.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    opacity: 1;
    transform: scale(0.8) translateY(-0.7rem) translateX(1.3rem);
    padding: 0 2px;
    margin: 0 4px;
    color: rgb(0, 0, 0);
    background-color: #a1ffa6;
    font-size: .9rem;
    border-radius: 5px;
    border: 0px solid rgb(61, 57, 51);
    height: auto;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.2rem;
    padding-bottom: 0.725rem;
}

.form-floating>label {
    padding: 0.4rem 1rem;
    font-size: .9rem;
}

.form-control {
    display: block;
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow .1s ease-in-out 0s;
}

.address {
    font-size: large !important;
}
.skills{
    border: 1px solid white;
    .skill {
        padding: 0px 10px;
        font-size: 17px;
        border-radius: 10px;
        border : 1px solid black;
        background:#7dd69951;
    
        i {
            margin-left: 10px;
        }
    }
}

.pasIcon {
    margin-left: 85%;
    margin-top: 3%;
}

.model {
    background: linear-gradient(118deg, #c5f1e7 31%, rgba(0, 0, 0, 0) 44%), radial-gradient(farthest-corner at 0% 0%, #b3f1c6 71%, #adeadc 80%);
}

.Address {
    background: #7dd69900
}


@media (max-width:994px) and (min-width: 568px) {
    .pasIcon {
        margin-left: 75%;
        margin-top: 4%;
    }
}

@media (max-width:400px) {
    .pasIcon {
        margin-left: 80%;
        margin-top: 4%;
    }
}