.list-item {
    background: linear-gradient(110deg, #a1ffa6 39%, #db7f0600 85%);

    a {
        color: #00266b;
        margin: 10px;
    }
}
#sideBar {
    z-index: 99;
}

.footer {
    margin-left: 45%;
}
.fa{
    cursor: pointer;
}