<div class="row " >
  <div class="col-7 col-sm-4 col-lg-2 col-xxl-2 h-100 position-fixed bg-dark px-0" id="sideBar"
  [ngStyle]="{'display':  col}">
  <div class=" mt-2">
    <h3 class="text-white d-inline mx-3">Menu</h3>
      <i class="fa fa-bars float-end text-light fa-2x  pt-0 px-3 " (click)="onClose()"
        aria-hidden="true"></i>
    </div>
    <ul class="list-group list-group-flush mx-3 mt-3">
      <li class=" h5 pt-2 mt-2 list-item">
        <a routerLink="/dashboard" class="text-decoration-none" >Dashboard </a>
      </li>
      <li class=" h5 pt-2 mt-2 list-item ">
        <a routerLink="/user" class="text-decoration-none"> User</a>
      </li>
      <li class=" h5 pt-2 mt-2 list-item ">
        <a routerLink="/electricity" class="text-decoration-none"> Electricity</a>
      </li>
      <li class=" h5 pt-2 mt-2 position-absolute bottom-0 list-item w-100">
        <a routerLink="/logout" class="text-decoration-none"> Logout</a>
      </li>
    </ul>
  </div>
</div>
<header class=" w-100">
  <div class="bg-dark  header">
    <i class="fa fa-bars text-light fa-2x float-start pt-1 px-2" (click)="onOpen()" aria-hidden="true"></i>
    <div class="dropdown d-inline-block float-end ">
      <button
       class="dropbtn fa fa-user-circle text-light  float-end pt-1 px-2 " id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item" >Add User</p>
        <div class="dropdown-divider"></div>
        <p class="dropdown-item">My Profile</p>
        <p class="dropdown-item">Support</p>
        <p routerLink="/logout" class="dropdown-item">Log out</p>
      </div>
    </div>
    <span  class="time text-end text-white">{{time | date:' MMM dd YYYY h:mm:ss a'}} </span>
  </div>
</header>
<router-outlet ></router-outlet>