.mainTable{
    margin-top: 5%;
}
thead{
    background: linear-gradient(90deg, #8dfbf7 40%, #a3ffa3 60%)  center center/cover;
}
tbody{
    background: linear-gradient(90deg, #d8fff7 40%, #ffffff 60%)  center center/cover;
}
th{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
