<h2 class="text-center  mt-5">Welcome To Dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-5">
            <div class="card  ">
                <div class="m-3 mt-4">
                    <h4 class="text-center">Total Record</h4>
                    <h4 class="text-center">({{numberOfRecord}})</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
            <div class="card ">
                <div class="m-3 mt-4">
                    <h4 class="text-center">Last 1 Hour Record </h4>
                    <h4 class="text-center">({{lastHoursRecord}})</h4>
                </div>
            </div>

        </div>
        <div class="col-sm-3 mt-5">
            <div class="card ">
                <div class="m-3 mt-4">
                    <h4 class="text-center">Last 1 Day Record </h4>
                    <h4 class="text-center">({{lastOneDayRecord}})</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
            <div class="card ">
                <div class="m-3 mt-4">
                    <h4 class="text-center">Last 30 Day Record </h4>
                    <h4 class="text-center">({{lastOneMonth}})</h4>
                </div>
            </div>
        </div>

    </div>
</div>